<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Toto je Semestrální práce z KIV/WEB">
        <meta name="author" content="Vuong Tran Duc">
        <title>Semestrální práce</title>
        <link rel="stylesheet" href="../libs/bootstrap-3.3.5-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/register_style.css"> 
    </head>
    <body>
        <div id="header_panel" class="with_shadow">
            <div id="nav_panel">
                {{ nav_links|raw }}
                <div class="cleaner"></div>
            </div>
        </div>
        <div id="title_panel_cover">
            <div id="title_panel">
                {{ welcome_message|raw }}
            </div>
        </div>
        <div id="container_panel">
            <div id="register_panel">
                    {{ log_form|raw }}

            </div> 
            
            <div id="footer_panel">
                {{ copy_right|raw }}
            </div>
        </div>

        
            
    </body>
</html>